# **Python Program**

Factorial of a number using recursion

In [1]:
def recur_factorial(n):
  if n == 1:
    return n
  else:
    return n*recur_factorial(n-1)

num = 9
if num<0:
  print("Factorial does not exit")
elif num == 0:
  print("The Factorial of 0 is 1")
else:
  print("The Factorial of",num,"is",recur_factorial(num))

The Factorial of 9 is 362880

Minimum and Maximum of a given list

In [2]:
lst = [10,7,9,8,66,75,199,4]

print("Maximum number of a list : ",max(lst))
print("Minimum number of a list : ",min(lst))

Maximum number of a list :  199
Minimum number of a list :  4

Sum of n natural numbers

In [3]:
n = int(input("Enter a number : "))
sum = 0
i = 0
while i<=n:
  sum = sum+i
  i = i+1
print("Sum of ",n,"natural numbers is ",sum)

Enter a number : 9
Sum of  9 natural numbers is  45